.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Parent-div {
  border: 1px transparent;
  margin: 1rem;
  padding: 2em 2em;
  text-align: left;
  height: 5%;
}

.Child-div {
  display: inline-flex;
  border: 1px transparent;
  padding: 1em 1em;
  vertical-align: bottom;
  text-align: left;
}